<web-app>
<display-name>Servlet - My First Program , calling of two different classes</display-name>
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>ClassA</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/bat</url-pattern>
    </servlet-mapping>   

    <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>ClassB</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/ball</url-pattern>
    </servlet-mapping>   

    <servlet>
        <servlet-name>servlet3</servlet-name>
        <servlet-class>ClassA</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>servlet3</servlet-name>
        <url-pattern>/cricket</url-pattern>
    </servlet-mapping>  


    
     
</web-app>